# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build

*~
attic
doc/*.log
*+mp0*
/doc/skelete-fig2.pdf
/doc/skelete-fig1.pdf
/doc/skelete.toc
/doc/skelete.lof
/doc/skelete.aux
/doc/skelete.pdf
/doc/skelete-fig3.pdf
skelete-fig*.pdf
/doc/.skelete.tex.swp
